/* html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
} */

.contact-container {
    /* display: none; */
    padding-top:200px;
    padding-bottom: 100px;
}

.row-name {
    font-family: "Kavoon", serif;
    bottom: 20px;
    display: flex;
    position: relative;
    left: 100px;
    width: 15%;
}

.row-laname {
    position: relative;
    bottom: 65px;
    left: 380px;
    display: flex;
    width: 15%;
}

.row-contactmessage {
    position: relative;
    bottom: 10px;
    width: 500px;
    left: 50px;
    height: 150px;
}

.contact-header {
    top: 50px;
    position: relative;
    left: 930px;
    font-size: 30px;
    font-family: "Kavoon", serif;
    color: #a67924;
}

.contact {
    font-family: "Kavoon", serif;
    position: relative;
    bottom: 50px;
    left: 100px;
    font-size: 45px;
}

.contact-button {
    background-color: #a67924;
    color: white;
    font-family: "Kavoon", serif;
    position: relative;
    top: 30px;
    left: 100px;
    font-size: 18px;
    padding: 20px 40px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}




/* Responsive styling for tablets and small desktops */
@media screen and (max-width: 1024px) {

    .row-name,
    .row-laname {
        left: 50px;
        width: 40%;
    }

    .row-laname {
        left: 50px;
        /* Align with row-name */
        bottom: 20px;
    }

    .row-contactmessage {
        width: 80%;
        left: 50px;
        height: 120px;
    }

    .contact {
        font-size: 35px;
        left: 50px;
    }

    .contact-button {
        left: 50px;
        padding: 15px 30px;
    }
}

/* Responsive styling for mobile devices */
@media screen and (max-width: 600px) {

    .contact-container {
        padding-top: 0px;
    }

   
    .row-name {
        position: relative;
        left: -10px;
        width: 90%; 
        margin: 0 auto;
        bottom: -38px;
        padding: 10px 0; 
    }

  
    .row-laname {
        position: relative;
        left: 250px;
        bottom: 20px; 
    }

  
    .row-contactmessage {
        position: relative;
        width: 100%; 
        left: 0;
        margin: 0 auto;
        height: 180px; 
        padding: 10px; 
    }

    
    .contact {
        font-size: 26px; 
        left: 0;
        text-align: center;
        margin-bottom: 15px; 
        line-height: 1.2; 
    }

    .contact-header {
        position: relative;
        left: 200px;
    }

    
    .contact-button {
        position: relative;
        left: 17px;
        width: 85%; 
        margin: 20px auto; 
        padding: 12px 25px; 
        font-size: 18px; 
        text-align: center;
        background-color: #a67924; 
        color: white; 
        border-radius: 50px; 
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    }

    
    .row-name,
    .row-laname,
    .row-contactmessage,
    .contact,
    .contact-button {
        box-sizing: border-box; 
    }
}