body {
    background-color: #bcbcbc;
}

.home {
    position: relative;
    right: 430px;
    background-color: #bcbcbc;
    padding: 50px;
    text-align: center;
    border-radius: 20px;
    max-width: 600px;
    margin: 50px auto;
    height: 400px;
}

.title {
    position: relative;
    bottom: 500px;
    font-family: "Kavoon", "serif";
    font-size: 36px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
}

.description {
    position: relative;
    bottom: 500px;
    font-size: 32px;
    color: #000;
    margin-bottom: 30px;
}

.button-container {
    position: relative;
    bottom: 400px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    background-color: #a67924;
    color: white;
    font-family: "Kavoon", serif;
    font-size: 18px;
    padding: 20px 40px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.button:hover {
    background-color: #8b5c1e;
}

.fruit {
    bottom: 50px;
    position: relative;
    left: 700px;
    border-radius: 20px;
}

.home-button {
    position: relative;
    bottom: 50px;
    background-color: #a67924;
    color: white;
    font-family: "Kavoon", serif;
    font-size: 18px;
    padding: 20px 40px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}