.shop-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.shop-header {
    text-align: center;
    padding-top: 150px;
    font-size: 40px;
    font-family: "Kavoon", "serif";
}

.picture-container {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
}

.picture-container-content {
    position: relative;
}

.picture-container-content p {
    position: absolute;
    color: white;
    font-family: "Kavoon", serif;
    font-size: 24px;
    left: 20%;
    bottom: 15%;
}


.picture-container-inner img{
    height: 220px;
    padding: 50px 50px;
    width: 70%;
    border-radius: 70px;
}

.picture-container-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop-button-container {
    padding-left: 650px;
}

.shop-button-container li {
    list-style-type: none;
    padding-right: 700px;
}

.shop-button {
    background-color: #a67924;
    color: white;
    font-family: "Kavoon", serif;
    font-size: 18px;
    padding: 20px 40px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}

/* Responsive styling for tablets and small desktops */
@media screen and (max-width: 1024px) {

}

/* Responsive styling for mobile devices */
@media screen and (max-width: 600px) {

    .shop-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .shop-header {
        text-align: center;
        padding-top: 150px;
        font-size: 40px;
        font-family: "Kavoon", "serif";
    }
    
    .picture-container {
        display: flex;
        flex-direction: column;
        padding: 50px 100px;
    }
    
    .picture-container-content {
        position: relative;
        /* border-radius: 20px; */
    }
    
    .picture-container-content p {
        position: absolute;
        color: white;
        font-family: "Kavoon", serif;
        font-size: 24px;
        left: 20%;
        bottom: 15%;
    }
    
    
    .picture-container-inner img{
        height: 220px;
        padding: 50px 50px;
        width: 80%;
        border-radius: 70px;
    }
    
    .picture-container-inner {
        flex-direction: column;
    }
    
    .shop-button-container {
        padding-left: 850px;
    }
    
    .shop-button {
        background-color: #a67924;
        color: white;
        font-family: "Kavoon", serif;
        font-size: 18px;
        padding: 20px 40px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        text-decoration: none;
    }
   
}