html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.shop-header {
    text-align: center;
    padding-top: 150px;
    font-size: 40px;
    font-family: "Kavoon", "serif";
}

.picture-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 25px;
    padding: 10px 0px 100px 150px;
}

.picture-container img {
    height: 220px;
    padding: 50px 50px 0px;
    width: 20%;
    border-radius: 50px;
} 

.picture-container p {
    position: relative;
    top: 180px;
    right: 380px;
    font-size: 30px;
    font-family: "Kavoon", "serif";
    color: white;
}

.shop-button-container {
    padding-left: 850px;
}

.shop-button {
    background-color: #a67924;
    color: white;
    font-family: "Kavoon", serif;
    font-size: 18px;
    padding: 20px 40px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}

/* Responsive styling for tablets and small desktops */
@media screen and (max-width: 1024px) {

}

/* Responsive styling for mobile devices */
@media screen and (max-width: 600px) {

    .shop-header {
        text-align: center;
        padding-top: 150px;
        font-size: 40px;
        font-family: "Kavoon", "serif";
    }
    
    .picture-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        grid-gap: 25px;
        padding: 50px 100px;
    }
    
    .picture-container img {
        height: 220px;
        padding: 50px 50px 0px;
        width: 100%;
        border-radius: 50px;
    } 
    
    .picture-container p {
        display: flex;
        padding: 20px;
        font-size: 30px;
        font-family: "Kavoon", "serif";
        color: black;
    }
    
    .shop-button-container {
        padding-left: 850px;
    }
    
    .shop-button {
        background-color: #a67924;
        color: white;
        font-family: "Kavoon", serif;
        font-size: 18px;
        padding: 20px 40px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        text-decoration: none;
    }
}