.footer {
    position: relative;
    /* left: 300px; */
    bottom: 200px;
    text-decoration: none;
    height: 70px;
    width: 95%;
    background-color: #bcbcbc;
    color: white;
    border-radius: 50px;
}

.footer a {
    position: relative;
    font-weight: 20px;
    top: 30px;
    left: 490px;
    border-radius: 40px;
    gap: 20px;
    color: #f2f2f2;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
}